* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #302D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

main {
    width: 530px;
    height: 530px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    transform: rotate(45deg);
}

div {
    width: 80px;
    height: 80px;
    position: absolute;
}

.active {
    background-color: #ccc;
    transition: all 0.2s ease;
    font-size: 24px;
}

/* primera linea */
#cuatro { 
    top: 0; 
    left: 270px;
    grid-row: span 2;
    height: 170px;
}

/* segunda linea */
#nueve { top: 90px; left: 180px; }
#diez { top: 90px; left: 360px; }

/* tercera linea */
#trece { top: 180px; left: 90px; }
#catorce { top: 180px; left: 180px; }
#quince { top: 180px; left: 270px; }
#dieciseis { 
    top: 180px; 
    left: 360px; 
    grid-column: span 2;
    width: 170px;
}

/* cuarta linea */
#diecisiete { 
    top: 270px; 
    left: 0; 
    grid-column: span 2;
    width: 170px;
}
#dieciocho{ top: 270px; left: 180px; }
#diecinueve { top: 270px; left: 270px; }
#veinte { top: 270px; left: 360px; }

/* quinta linea */
#veintitres { top: 360px; left: 90px; }
#veinticuatro { 
    top: 360px; 
    left: 180px; 
    grid-row: span 2;
    height: 170px;
}
#veinticinco { top: 360px; left: 270px; }

/* sexta linea no tiene divs, ya que el el 24 aumenta el tamaño */

.down:active {
    width: 170px;
    height: 170px;
    cursor: pointer;
    transition: all 0.2s ease;
    /* background-color: blue; */
    z-index: 1;
}

.up:active {
    width: 170px;
    height: 170px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(-90px, -90px);
    /* background-color: red; */
    z-index: 1;

}

.left:active {
    width: 170px;
    height: 170px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(-90px, 0);
    /* background-color: green; */
    z-index: 1;
}

.right:active {
    width: 170px;
    height: 170px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(0, -90px);
    /* background-color: purple; */
    z-index: 1;
}

.big-up-left:active {
    width: 170px;
    height: 260px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(0, -90px);
    /* background-color: antiquewhite; */
    z-index: 1;
}

.big-up-right:active {
    width: 260px;
    height: 170px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(-90px, 0); 
    /* background-color: orange; */
    z-index: 1;
}

.big-down-left:active {
    width: 260px;
    height: 170px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(-90px, 0); 
    /* background-color: brown; */
    z-index: 1;
}

.big-down-right:active {
    width: 170px;
    height: 260px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(0, -90px);

    z-index: 1;
}
